//<a class="waves-effect waves-light" id='change_background'><i class="material-icons left">image</i></a>

//= button_tag t('switch_start'), type: :button,  id: 'change_background', class: 'waves-effect waves-light btn-large'

//.main-page
  = link_to t('member.create'), new_doctor_path, class: 'waves-effect waves-light btn-large'

= image_tag 'mediatorn_start.png', class: 'start_bg'

.main-page
  = link_to t('member.create'), new_doctor_path, class: 'waves-effect waves-light btn-large'

