= "#{full_doctor.s_name} #{full_doctor.f_name} #{full_doctor.m_name}///"
= "#{full_doctor.spec}///"
= "#{full_doctor.city}///"
= "#{full_doctor.mediatorn}///"
= "#{full_doctor.effects}///"
= "#{full_doctor.indication}///"
= "#{full_doctor.your_indication}"
br