= "#{full_member.first_name} #{full_member.second_name}///"
= "#{full_member.phone}///"
= "#{full_member.manager}///"
= "#{full_member.company}///"
= "#{full_member.position}///"
= "#{full_member.address}///"
= "#{full_member.area} #{t('form.ga')}///"
= "#{full_member.edrpou}"
br