@import 'materialize/components/color';
$primary-color: color('blue', 'lighten-2') !default;
$secondary-color: color('teal', 'lighten-2') !default;
@import 'materialize';

input[type=number] { -moz-appearance:textfield; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
}

.body-container {
  max-height: calc(100vh - 330px);
  overflow: auto;
}

.img_pd { padding: 50px; }

.bg {
  margin-top: 150px;
  width: 100%;
  position: absolute;
  z-index: -10;
  opacity: 0.15;
}

#step3, #step4, #step5, #step6, #step7, #step8 { display: none; }

.doctor_spec_other { margin-top: -14px; }

#mlkeyboard-tab {
  visibility: hidden;
  margin-left: -2% !important;
}
#mlkeyboard-capslock {
  visibility: hidden;
  margin-left: 1% !important;
}
#mlkeyboard-return { visibility: hidden; }
#mlkeyboard-left-shift {
  margin-left: 3% !important;
}

.input-field label:not(.label-icon).active {
  transform: translateY(-25px) scale(0.8) !important;
}

input[type=text] {
  font-size: 2rem;
}

.block_form label {
  font-size: x-large !important;
}

.block_form {

}

.input-field label {
  margin-left: 5px;
  font-size: 19px !important;
}

.new_member {
  border: 2px solid #4db6ac;
  border-radius: 10px;
  padding: 20px;
}

.main-page {
  border: 2px solid #4db6ac;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.org_img img {
  width: 300px;
}

.print_name {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media print {
  .thank_you_info { display: none; }
  .print_top_margin {
    margin-top: 150px;
    border-bottom: 1px solid #f7f7f7;
  }
  .print_name { margin-left: -4 0px; }
}

.select-dropdown {
  color: #9e9e9e;
  padding-left: 5px !important;
  font-size: 19px !important;
}

.error-block {
  color: red;
  top: -20px;
  position: relative;
}



/* numpad */

span#number2dial {
  font-size: 1.8em;
  padding: 10px 15px;
  margin: 40px 0 0 0;
}

div.numpad-container {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  margin-left: 30px;
  margin-top: 30px;
}

button.numpad, .backspace {
  height: 75px;
  width: 75px;
  background: #48535a;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #fff;
  will-change: background;
  transition: all .2s ease-in;
  font-size: 1.5em;
}

.disabled { display: none; }
.green_text { color: #6FDA54; }
.red_text { color: #B00100; }

/*
 *
 * ml-keyaboard
 *
 */

div#mlkeyboard {
  font-family: Tahoma, Arial, sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0
}

div#mlkeyboard ul,
div#mlkeyboard li {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

div#mlkeyboard ul {
  background: #eee;
  list-style: none;
  font-size: 24px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul {
    width: 100%;
    height: 330px;
    margin: 0 auto;
    padding: 0px;
    padding-left: 20px;
    border-radius: 5px 5px 0 0
  }
}

div#mlkeyboard ul li {
  float: left;
  margin: 0 0 0.5% 0.5%;
  width: 6.7%;
  text-align: center;
  background: #fff;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul li {
    width: 6.5%;
    height: 60px;
    line-height: 60px;
    margin: 2px
  }
}

div#mlkeyboard ul li.active {
  background-color: #E6FFD8;
  border-color: #6FDA54
}

div#mlkeyboard ul li:hover {
  background-color: #FFD488;
  border-color: #FFAE6E
}

div#mlkeyboard ul #mlkeyboard-capslock,
div#mlkeyboard ul #mlkeyboard-tab,
div#mlkeyboard ul #mlkeyboard-left-shift {
  clear: left
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-backspace {
    width: 100px
  }
}

div#mlkeyboard ul #mlkeyboard-tab {
  width: 7%
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-tab {
    width: 65px
  }
}

div#mlkeyboard ul #mlkeyboard-capslock {
  width: 12%
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-capslock {
    width: 75px
  }
}

div#mlkeyboard ul #mlkeyboard-return {
  width: 8%
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-return {
    width: 76px
  }
}

div#mlkeyboard ul #mlkeyboard-left-shift {
  width: 14%
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-left-shift {
    width: 100px
  }
}

div#mlkeyboard ul #mlkeyboard-right-shift {
  width: 12%
}

@media screen and (min-width: 540px) {
  div#mlkeyboard ul #mlkeyboard-right-shift {
    width: 100px;
    margin-right: 0
  }
}

div#mlkeyboard ul #mlkeyboard-space {
  clear: left;
  width: 65%;
  margin-left: 16%;
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul #mlkeyboard-space {
    width: 65%;
    margin-left: 16%;
  }
}

div#mlkeyboard ul.mlkeyboard-modifications {
  position: absolute;
  background: rgba(133, 133, 133, 0.6);
  border-radius: 5px;
  display: none;
  padding: 8px
}

@media screen and (min-width: 700px) {
  div#mlkeyboard ul.mlkeyboard-modifications {
    height: 46px
  }
}

/*
 *
 * ml-keyboard finish
 *
 */